Dashboard/Core/Web References/BestServerService/soapservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConsultarErbs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarErbsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarErbsResult" type="tns:ArrayOfBestServer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBestServer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BestServer" nillable="true" type="tns:BestServer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BestServer">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Ordem" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tecnologia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SiglaErb" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Setor" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Frequencia" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CGI" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="X" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Y" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfBestServer" nillable="true" type="tns:ArrayOfBestServer" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsultarErbsSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarErbs" />
  </wsdl:message>
  <wsdl:message name="ConsultarErbsSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarErbsResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarErbsHttpGetIn">
    <wsdl:part name="x" type="s:string" />
    <wsdl:part name="y" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsultarErbsHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfBestServer" />
  </wsdl:message>
  <wsdl:message name="ConsultarErbsHttpPostIn">
    <wsdl:part name="x" type="s:string" />
    <wsdl:part name="y" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsultarErbsHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfBestServer" />
  </wsdl:message>
  <wsdl:portType name="SOAPServiceSoap">
    <wsdl:operation name="ConsultarErbs">
      <wsdl:input message="tns:ConsultarErbsSoapIn" />
      <wsdl:output message="tns:ConsultarErbsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SOAPServiceHttpGet">
    <wsdl:operation name="ConsultarErbs">
      <wsdl:input message="tns:ConsultarErbsHttpGetIn" />
      <wsdl:output message="tns:ConsultarErbsHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SOAPServiceHttpPost">
    <wsdl:operation name="ConsultarErbs">
      <wsdl:input message="tns:ConsultarErbsHttpPostIn" />
      <wsdl:output message="tns:ConsultarErbsHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SOAPServiceSoap" type="tns:SOAPServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarErbs">
      <soap:operation soapAction="http://tempuri.org/ConsultarErbs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SOAPServiceSoap12" type="tns:SOAPServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarErbs">
      <soap12:operation soapAction="http://tempuri.org/ConsultarErbs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SOAPServiceHttpGet" type="tns:SOAPServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ConsultarErbs">
      <http:operation location="/ConsultarErbs" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SOAPServiceHttpPost" type="tns:SOAPServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ConsultarErbs">
      <http:operation location="/ConsultarErbs" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SOAPService">
    <wsdl:port name="SOAPServiceSoap" binding="tns:SOAPServiceSoap">
      <soap:address location="http://10.126.111.74/api/bestserver/soapservice.asmx" />
    </wsdl:port>
    <wsdl:port name="SOAPServiceSoap12" binding="tns:SOAPServiceSoap12">
      <soap12:address location="http://10.126.111.74/api/bestserver/soapservice.asmx" />
    </wsdl:port>
    <wsdl:port name="SOAPServiceHttpGet" binding="tns:SOAPServiceHttpGet">
      <http:address location="http://10.126.111.74/api/bestserver/soapservice.asmx" />
    </wsdl:port>
    <wsdl:port name="SOAPServiceHttpPost" binding="tns:SOAPServiceHttpPost">
      <http:address location="http://10.126.111.74/api/bestserver/soapservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>